# Database settings
POSTGRES_HOST=db-host
POSTGRES_PORT=5432
POSTGRES_DB=library-db
POSTGRES_USER=library-user
POSTGRES_PASSWORD=library-password

# pgAdmin settings
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin

# Django settings
SECRET_KEY=django-secret-key

# Stripe settings
STRIPE_PUBLIC_KEY=stripe_public_key
STRIPE_SECRET_KEY=stripe_secret_key

# Celery settings
CELERY_BROKER_URL=celery-broker-url
CELERY_RESULT_BACKEND=celery-result-backend

#Telegram settings 
TELEGRAM_BOT_TOKEN=bot_token
CHAT_ID=chat_id